# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'AzureRmPipeline-conn'
    subscriptionId: 'edac4375-8f62-41de-a6fa-8604b9ed865f'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'arm-rg.slowik'
    location: 'North Europe'
    templateLocation: 'Linked artifact'
    csmFile: 'CreateWebApp/azuredeploy.json'
    overrideParameters: '-projectName "ARMTutorial" -linkedTemplateUri "https://raw.githubusercontent.com/slowik21861/ARMSamplePipeline/master/CreateWebApp/linkedStorageAccount.json"'
    deploymentMode: 'Incremental'
    deploymentName: 'DeployPipelineTemplate'
